<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<context:annotation-config />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="Hareram" />
		<property name="password" value="Hareram" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.hs4.Account</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="hibernateTemp" class="org.springframework.orm.hibernate4.HibernateTemplate"
		autowire="constructor" />
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		autowire="constructor" />

	<bean id="accountdao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="txManager" />
		<property name="target" ref="adaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="deposit*">PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED</prop>
				<prop key="withdraw*">PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED</prop>
				<prop key="fundsTransfer*">PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED</prop>
			</props>
		</property>

	</bean>

	<bean id="as" class="com.hs4.AccountServiceImpl" />
	<bean id="adaoTarget" class="com.hs4.HibernateAccountDAO" />
</beans>